* {
  margin: 0;
  padding: 0;
}
.container {
  /* width: 1440px;*/
  background-color: hsl(229, 57%, 11%);
  background-image: url(./images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 900px;
  min-width: 1440px; 
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.wrapper {
  position: relative;
  top: 5vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  
}

.fylo {
  
  position: relative;
  height: 25vh;
  width: 25vw;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  border-top-right-radius: 100px;
  min-height: 197px;
  min-width: 360px;
  
}

.fylolettering {
background-image: url(./images/logo.svg);
position: absolute;
background-repeat: no-repeat;
top: 20%;
left: 10%;
width: 100%;
height: 100%;
}

.fyloicons {
  /* position: absolute; */
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  top: 10%;
  margin-left: 11% ;
  /* top: 60%;
  left: 14%; */
}

.fylopapper {
margin-right: 5%;
background-color: hsl(229, 57%, 11%);
padding: 2% 3%;
border-radius: 15%;

}

.fylofolder {
  display: flex;
  margin-right: 5%;
  background-color: hsl(229, 57%, 11%);
  padding: 2.7% 2.2%;
  border-radius: 15%;

  
}

.fyloupload {
  background-color: hsl(229, 57%, 11%);
  padding: 3.2% 2.2%;
  border-radius: 15%;
}




.storage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5%;
  height: 20vh;
  width: 40vw;
  background-color: hsl(228, 56%, 26%);
  border-radius: 15px;
  min-height: 157.6px;
  min-width: 576px;    
}

#storagebar {
  /* position: relative; */
  align-items: center;
  justify-content: center;
  background-color: #151e49;
  width: 500px;
  height: 15px;
  border-radius: 13px;
  
  padding: 3px;
}
/* investigar mejor funcionalidad AFTER */
#storagebar::after {
  content: '';
    display: block;
    background: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%)
    );
    width: 75%;
    height: 15px;
    border-radius: 9px;
 
}
.storageusedspace {
  position: absolute;
  top: 20%;
  right: 55%;
  font-size: 14px;
  color: white;
  font-weight: 400;
}

