* {
  margin: 0;
  padding: 0;
}
.container {
  /* width: 1440px;*/
  height: 100vh;
  background-color: hsl(229, 57%, 11%);
}

.backgroundimg {
  /* position: relative; */
  bottom: -55.4%;
  background-image: url(/fylo-data-storage-component-master/images/bg-desktop.png);
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.fylo {
  height: 100px;
  width: 100px;
  background-color: ivory;
  /* position: relative;
  z-index: 2;
  height: 25vh;
  width: 23vw;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  border-top-right-radius: 120px;
  left: 25em;
  min-width: 441.6px;
  min-height: 232.75px; */
}

.storage {
  /* position: relative;
  height: 20vh;
  width: 35vw;
  background-color: hsl(228, 56%, 26%);
  border-radius: 15px;
  left: 29.5em;
  transform: translateY(25%);
  min-width: 672px;
  min-height: 186.2px; */
}
